* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
    
}

body {
    background: url("dcfundo.jpg") fixed;
    background-size: cover;
  }

.superhomempersona {
    max-width: 100vw;
    height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .displaysuperhomem {
    background-image: url("fundo.jpg");
    width: 600px;
    height: 555px;
    opacity: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  article > h1,
  .principalhist {
    padding: 0 11.2% 3% 12.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
  }